body{background-color: rgb(239, 239, 239);color: black;margin: 0;}
.clearfix::after{content: '';display: block;clear: both;}
a{text-decoration: none;color: inherit;cursor: pointer;}
*{margin: 0;padding: 0;cursor: default;}
ol,li{list-style-type: none;margin: 0;border: 0;padding: 0;}

/* 导航栏样式设置 */
.topNavBar{position: fixed;width: 100%;left: 0;top: 0;color: #b7b7b7;transition: all 0.5s;}
.topNavBar.sticky{position: fixed;top:0;background-color: white; color:#3d4451;padding:10px 0;z-index: 1;box-shadow: 0 0 10px rgba(0, 0, 0,0.25)}
.topNavBar.sticky .topNavBar-inner{margin: 0 16px;}

.topNavBar .topNavBar-inner{margin: 20px 16px;}
.topNavBar .logo{font-family: "Arial Black";font-weight: bold;font-size: 24px;padding-top: 3px ;padding-bottom: 4px ;float: left;}
.topNavBar .logo .rs{color: #e6686a;margin-right: 4px;}
.topNavBar .logo .card{color:#9a9da2;font-size: 18px;}

.topNavBar nav{padding-top: 7px;display: inline-block;float: right;}
.topNavBar nav>ul{padding: 0;margin: 0;}
.topNavBar nav>ul>li{float: left;display: block;margin-left: 17px;margin-right: 17px;position: relative;}
.topNavBar nav>ul>li.active::after,
.topNavBar nav>ul>li.highlight::after{content: '';display: block;position: absolute;top:100%;height: 3px;background-color: #e06567;width: 100%; height: 3px;background-color: #e06567;animation: navslide 0.5s ;}
.topNavBar nav>ul>li>a{display: block;font-size: 12px;font-weight: bold;border-top: 3px solid transparent;border-bottom: 3px solid transparent;padding-bottom: 5px;padding-top: 5px;}

.topNavBar nav li.active .submenu{display: block; animation: submenuslide 0.5s;}
.topNavBar.sticky .submenu{box-shadow: 0 0 10px rgba(0, 0, 0,0.25);}
.topNavBar nav .submenu{display: none;position: absolute;top:100%;white-space: nowrap; color:#3d4451; background-color: #fff;box-shadow: 0 0 10px rgba(225, 225, 225,0.45);border-radius: 2px;}
.topNavBar nav .submenu li{padding: 8px 16px;font-size: 12px;font-weight: bold;color: #5a5c61;cursor: pointer;}
.topNavBar nav .submenu li:first-child{padding-top: 16px}
.topNavBar nav .submenu li:last-child{padding-bottom:16px}

@keyframes navslide {
    0%{width: 0;}
    100%{width: 100%}
}
@keyframes submenuslide{
    0%{margin-left: 100%;opacity: 0;}
    100%{margin-left: 0%;opacity: 1}
}

/* 背景图样式 */
.banner{background-image: url(./rs-cover.jpg);height: 515px;background-position: center;background-size: cover;}
.banner .mask{background-color: rgba(0, 0, 0,0.8);height: 515px;}

/*个人信息框样式*/
.card{ max-width: 940px; margin: 0 auto 0;font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";}
.usercard{background-color: rgba(255, 255, 255,0.95);max-width: 940px;margin: -340px 0 0;}
.usercard .profile{padding: 50px;position: relative;}
.usercard .picture{margin-right: 67px; }
.usercard .text{width: 467px;}
.usercard h1{margin-top: 16px;margin-bottom: 8px;}
.usercard hr{margin: 25px 0;height: 0;border: none;border-top: 1px solid #DEDEDE;}
.usercard .information{display: flex;flex-direction: row;}
.usercard .information .informationList{width: 100%;}
.usercard .profile dl{width: 100%; overflow: hidden;}
.usercard .profile dt{ 
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;clear: left;float: left; width: 39%;padding: 8px 0; font-size: 16px;line-height: 16px }
.usercard .profile dd{ line-height: 16px;text-align: left;float: left; width: 59%;padding: 5px 0; color: #9da0a7;}
.usercard .profile dd a{ color: #E6686A;}

/* 简历下载*/
main .resumeDownload-wrapper{position: absolute;;text-align: center;bottom:86%;left: 77%;}
main .resumeDownload-wrapper .resumeDownload-style:hover{background-color: rgb(214,214,234);}
main .resumeDownload-wrapper .resumeDownload-style .resumeDownload{display: inline-block;font-size: 14px;font-weight: bold;line-height: 16px;padding: 21px 55px;color: #3d4451;}

/* 技能与作品 */
section .skill{margin: 160px auto 150px;text-align: center;max-width: 940px;height: 700px;}
section h2{color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 600;padding: 5px;}

/* 技能 */
.skill .skillWrapper {display: flex;flex-direction: row;margin: 5px;justify-content: space-between;align-items: center;margin-top: 50px;}

.skill .skillItem wired-item{height: 50px;font-size: 16px ;font-weight: bold;text-align: center;padding-top: 35px;width: 158px;color: #CF5D5F}
.skill skillWrapper wired-card{background: #fff;}
.skill .ContentsWrapper{width: 680px;height: 520px;margin-top: 40px;position: relative;overflow: hidden;}
.skill .ContentsWrapper .skillContents {width: 680px;display: flex;flex-direction: column;position: absolute;left: 100%;}
.skill .ContentsWrapper .skillContents.active{left: 0;transition: all 0.5s;}
.skill .skillContents .skillProgress{height: 42px;display: flex;flex-direction: row;justify-content: space-around;}
.skill .skillContents .skillProgress span{color: #CF5D5F;display: inline-block;font-size: 18px ;font-weight: bold;line-height: 42px;}
.skill .skillContents .skillIntroduce {height: 450px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding: 0 40px;}

.skill .skillContents .skillIntroduce .introduce{width: 100%;text-align: left;}
.skill .skillContents .skillIntroduce .introduce span{line-height: 35px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";}

.skill .skillContents .skillIntroduce .introduce a{color: #CF5D5F;font-size: 12px;line-height: 30px;display: inline-block;font-weight: bold;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";}
.skill .skillContents .skillIntroduce img{height: 379px;width: 220px;}

/*作品*/
section .prouduction{margin-top: 60px;margin-bottom: 100px;text-align: center;margin-left: auto;margin-right: auto;max-width: 940px;}
section .prouductions {display: flex;flex-flow: row wrap;justify-content: space-around;align-content: space-between}
section .prouductions li{width: 46%;margin: 50px 0 20px;}
section .prouductions wired-card{width: 100%}
section .prouductions .contentWrapper{padding: 20px;display: flex;flex-direction: column;align-items: center;margin: 10px;}
section .prouductions .contentWrapper img{width: 360px;height: 201px;}

section .prouductions .contentWrapper h3{color: #CF5D5F;font-size: 18px ;font-weight: bold;line-height: 42px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";padding: 12px;text-align: center;display: inline-block;}
section .prouductions .contentWrapper dl{width: 100%; overflow: hidden;}
section .prouductions .contentWrapper dt{ 
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;padding: 8px 0; font-size: 16px;line-height: 16px;text-align: left;}
section .prouductions .contentWrapper  dd{ line-height: 20px;font-size: 14px;text-align: left;padding: 5px 0; color: #7f8186;}
section .prouductions .contentWrapper dd a{ color: #E6686A;}

/*留言*/
section.message{max-width: 940px;margin:0 auto;text-align: center;}
section  .messageWrapper{background-color: #F4F4F4;box-shadow: 0px 0px 4px 1px rgba(61,68,81,0.14);margin: 60px auto 20px;padding: 42px 50px 10px 50px;max-width: 940px;display: flex;flex-direction: column;}
section .messageWrapper  ol#messageList li {border-bottom: 1px solid #DDD ;padding: 16px ;font-size: 16px;text-align: left;}
section .messageWrapper  ol#messageList li:last-child{border-bottom: 0px;margin-bottom: 20px;}

section  .messageWrapper  form  input.text{border: 1px solid #DDD ;box-shadow: 0px 0px 1px 1px rgba(61,68,81,0.14);height: 25px;width: 200px;}
section  .messageWrapper  form {display: flex;flex-direction: column;align-items: flex-end;}
section  .messageWrapper  form  .contentText{margin: 8px;}
section  .messageWrapper  form .submit{border: 1px solid #DDD ;height: 30px;width: 50px;background-color: #E6686A;border-radius: 6px;box-shadow: 0px 0px 4px 1px rgba(61,68,81,0.14);color: white;}

/**js动画效果*/
[data-x].offset{transform: translateY(15px);}
[data-x]{transform: translateY(0);transition: all 1s;}

